<button class="btn btn-success mb-3" (click)="newDocument()">Создать накладную</button>
<dx-data-grid 
  id="gridContainer" 
  [dataSource]="documents" 
  [showBorders]="true"
  [(selectedRowKeys)]="selectedRows"
  (onEditingStart)="editDocument($event)"
  (onRowRemoving)="removeDocument($event)">

  <dxo-editing 
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true">
  </dxo-editing>
  <dxo-selection mode="multiple"></dxo-selection>
  <dxo-sorting mode="multiple"></dxo-sorting>
  <dxi-column dataField="from" dataType="string" caption="Откуда" sortOrder="asc"></dxi-column>
  <dxi-column dataField="to" dataType="string" caption="Куда" sortOrder="asc"></dxi-column>
  <dxi-column dataField="customer" dataType="string" caption="Получатель" sortOrder="asc"></dxi-column>
  <dxi-column dataField="status" dataType="string" caption="Статус" sortOrder="asc"></dxi-column>

</dx-data-grid>
<div class="input-group mt-3">
  <select class="custom-select grid__select">
    <option>Удалить</option>
  </select>
  <button class="btn btn-success ml-3" (click)="applyChanges()">Применить</button>
</div>
