<div class="modal-header">
  <h4>Редактирование документа</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('dismiss')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="from"><small>Откуда:</small></label>
      <input type="text" class="form-control" id="from" placeholder="Откуда" formControlName="from">
    </div>
    <div class="form-group">
      <label for="to"><small>Куда:</small></label>
      <input type="text" class="form-control" id="to" placeholder="Куда" formControlName="to">
    </div>
    <div class="form-group">
      <label for="customer"><small>Получатель:</small></label>
      <input type="text" class="form-control" id="customer" placeholder="Получатель" formControlName="customer">
    </div>
    <div class="form-group d-flex flex-column">
      <label for="status"><small>Статус:</small></label>
      <select class="custom-select" 
              id="status" 
              formControlName="status"
              (change)="formSelectOption($event.target.value)">
        <option *ngFor="let option of statusOptions" 
                [value]="option">
          {{option}}
        </option>
      </select>
    </div>
    <div class="form-group d-flex justify-content-between pt-3">
      <button type="button" class="btn btn-success" (click)="closeModal('save')">Сохранить</button>
      <button type="button" class="btn btn-danger" (click)="closeModal('delete')">Удалить</button>
    </div>
  </form>
</div>